@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@900&display=swap');
body{font-family: 'Overlock', cursive;}

::selection{
  background:#5f939a;
  color: #fff;
}

::-webkit-scrollbar {
  width: .6em;
}
::-webkit-scrollbar-track {
  background:#9c27b0;
}
::-webkit-scrollbar-thumb {
  background:#e2703a
}





.signupSection{
  width: 55%;
  margin: 0 auto;
}
@media only screen and (max-width:600px){
  .signupSection{
    width: 90%;
    margin: 0 auto;
  }
}


.loginSection{
  width: 55%;
  margin: 0 auto;
}
@media only screen and (max-width:600px){
  .loginSection{
    width: 90%;
    margin: 0 auto;
  }
}

/*loader styling*/

div.loader{
  width:3.6em;
  height: 3.6em;
  border-radius: 50%;
  border-left:.3em solid  #5c969e;
  animation: spin .9s linear infinite;
}@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*landing*/
@media only screen and (min-width:601px){
section.landing{
  display: flex;
}section.landing div:first-child{
  width: 40%;
  min-height: 60vh;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}section.landing div:last-child{
  width: 60%;
  min-height: 90vh;
}
}

